# {{ ansible_managed }}
server_name: {{ synapse_server_name | to_json }}
public_baseurl: {{ synapse_public_baseurl | to_json }}
report_stats: {{ synapse_report_stats | bool | to_json }}
enable_registration: false
media_store_path: /var/opt/synapse/media_store
signing_key_path: /var/opt/synapse/homeserver.signing.key

database:
  name: psycopg2
  args:
    user: {{ synapse_database_user | to_json }}
    password: {{ synapse_database_password | to_json }}
    dbname: {{ synapse_database_name | to_json }}
    host: 127.0.0.1
    cp_min: 5
    cp_max: 10

listeners:
  - port: 8008
    type: http
    tls: false
    bind_addresses: ['127.0.0.1', '::1']
    x_forwarded: true
    resources:
      - names: [client, federation]
        compress: false
