[Unit]
Description=Jitsi Excalidraw Backend

[Service]
User=excalidraw
ExecStart=npm start
WorkingDirectory=/opt/jitsi-excalidraw-backend

[Install]
WantedBy=multi-user.target
